# Types Of Operators

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

# Arithmetic Operators

In [2]:
+ Addition
- Subtraction
* Multiplication
/ Division
// Floor Division
% Modulus
** Power

SyntaxError: invalid syntax (<ipython-input-2-8563fac5630f>, line 5)

In [3]:
2 + 5

7

In [4]:
2.0 + 5.0

7.0

In [5]:
"A" + "B"

'AB'

In [6]:
["Hamza", "Junaid"] + [ "Ali", "Osama"]

['Hamza', 'Junaid', 'Ali', 'Osama']

In [7]:
("Hamza", "Junaid") + ( "Ali", "Osama")

('Hamza', 'Junaid', 'Ali', 'Osama')

In [8]:
{"Hamza", "Junaid"} + { "Ali", "Osama"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
5 - 2

3

In [10]:
4.2 - 3

1.2000000000000002

In [11]:
[4,5] - [2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
{5,6,1,2} - {5,6}

{1, 2}

In [13]:
{"A","B","C"} - {"B"}

{'A', 'C'}

In [14]:
(5,6,1,2) - (5,6)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [15]:
2 * 4

8

In [19]:
3.0 * 5

15.0

In [16]:
"A" * 3

'AAA'

In [17]:
["A"]* 3

['A', 'A', 'A']

In [18]:
("A") * 2

'AA'

In [20]:
11 / 3

3.6666666666666665

In [22]:
12 / 4

3.0

In [23]:
11 // 3

3

In [24]:
11 % 3

2

In [25]:
2 ** 3 # 2 * 2 *

8

# Comparison (Relational) Operators

In [26]:
== 
<
<=
>=
!=, <>

SyntaxError: invalid syntax (<ipython-input-26-35125336def7>, line 1)

In [27]:
2 == 2

True

In [28]:
"A" == "a"

False

In [29]:
5 > 3

True

In [30]:
5 > 5

False

In [31]:
5 >= 5 # 5 > 4

True

In [32]:
5 > 4

True

In [33]:
"A" > "B"

False

In [ ]:
A=65 # Length
-> Z=90
a=97
-> z=122
0=48
-> 9=57

In [34]:
ord("a") # Finds code

97

In [35]:
chr(65) # Find code character wise according to ascii

'A'

In [36]:
3 < 4

True

In [37]:
3 <= 4

True

In [38]:
"Ali" != "Qasim"

True

# Assignment Operators

In [ ]:
= 
+=
-=
*=
/=
//=
%=
**=

In [39]:
a = 5 # Overwrite
a = 6
a = 7
print(a)

7

In [41]:
a = 1 # 1
a += 2 # 1 + 2
a += 3 # 3 + 3 = 6
a += 4 # 6 + 4 = 10
print(a)

10

In [42]:
a = 1 # 1
a = a + 2 # 1 + 2 = 3
a = a + 3 # 3 + 3 = 6
a = a + 4 # 6 + 4 = 10
print(a)

10

In [43]:
a = 100
a -= 5
a -= 5
a -= 10
print(a)

80

In [44]:
a = 1 # 1
a *= 2 # 1 * 2 = 2
a *= 3 # 2 * 3 = 6
a *= 4 # 6 * 4 = 24 
print(a)

24

In [45]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [46]:
a = 100
a //= 2
a //= 2
print(a)

25

In [47]:
a = 21
a %= 5
print(a)

1

In [49]:
a = 2
a **= 2
a **= 3
print(a)

64

In [50]:
a = "A"
a += "B"
print(a)

AB

In [51]:
a = [1,2,3]
a += [5,6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operators

In [ ]:
and &
or |
not <>

In [52]:
True and True and True

True

In [53]:
True & True & True

True

In [1]:
True and True and False

False

In [2]:
user = input("UserName:")
password = input("Password:")
user == "Ali" and password == "123"

UserName:Ali
Password:123

True

In [3]:
True or True or False or False or True

True

In [9]:
user = "Ali"
Password = "123"
(user == "Ali" or user == "Qasim" or user == "Hamza") and password == "123"

True

In [10]:
user = "Osama"
Password = "12345"
user == "Ali" or user == "Qasim" or user == "Hamza" and password == "123"

False

In [11]:
user = "Ali"
Password = "123"
(user == "Ali" or \
user == "Qasim" or \
user == "Hamza") and password == "123"

True

In [13]:
user = "a"
password = "123"
not (user == "ali" and password == "123")

True

# Bitwise Operators

8,  7,   6,   5,   4,   3,   2,   1,  0
2,  2,   2,   2,   2,   2,   2,   2,  2
=======================================
256,128,  64,  32,  16,   8,  4,  2,  1

28=11100
29=11101



1010101

Right Side
11001

1 = 1
0 = 0
0 = 0
1 = 8
1 = 16
25

& and
11100
11101
------
11100

In [14]:
28 & 29

28

| or
11100
11101
------
11101

In [16]:
28 | 29

29

^ xor
11100
11101
------
11101

In [17]:
28 ^ 29

1

In [1]:
29

29

# Membership Operators

in
not in

In [4]:
name = input("Name:")
name in "Pakistan"

Name:Pakistan

True

In [7]:
names = ["Ali","Hamza","Qasim", "Kashif"]
input("name:") not in names

name:osama

True

# Identity Operators

In [8]:
a = "5"
b = 5
c = a
print(a is b)
print(a is c)

False
True

In [9]:
print(id(a))
print(id(b))
print(id(c))

1472936139312
140711121363472
1472936139312

In [10]:
id(a) == id(c)

True

# Control Flow

if else elif

if logic:
    value_if_True
else:
    value_if_False

In [12]:
if True:
    print("pakistan")
else:
    print("Zindabad")

pakistan

In [13]:
if False:
    print("pakistan")
else:
    print("Zindabad")

Zindabad

In [17]:
user = input("User:")
password = input("password:")
if (input== "Ali" or user == "qasim") and password == "123":
    print("Valid User!")
else:
    print("invalid User")

User:Ali
password:123
invalid User